* { 
  box-sizing: border-box;
}

/* Body and global */
body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 100%;
  line-height: 1;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  position: relative;
  padding-block: 2rem;
}

img { 
  max-width: 100%;
  height: auto;
  display: block;
  margin-inline: auto;
}

/* Navigation */
nav { 
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid oklch(76.768% 0.01802 206.072);
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  --border-color: oklch(27.019% 0.03007 199.11 / 0.4);
  border-bottom: 1px solid var(--border-color);
}

nav a { 
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 1em;
}

nav a.current{
  border-bottom: 0.4em solid oklch(99.281% 0.00654 209.662);
  padding-bottom: 0.1em;
}

nav a:hover { 
  border-bottom: 0.4em solid oklch(42.878% 0.11233 23.045);
  background-color: oklch(in oklch, oklch(52.877% 0.07285 19.74), canvas 85%);
}

/* Headings */
h1, h2, h3, h4, h5, h6 { 
  line-height: 1.1;
  text-wrap: balance;
}

h1 { 
  font-size: 2em;
  color: rgb(130, 16, 16);
  margin-bottom: 0.5em;
}

/* Dark Mode */
html { 
  color-scheme: light dark;
  background-color: canvas;
  color: canvastext;
}

/* Dark Mode Switcher */
.color-scheme { 
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 0.7em;
  font-family: inherit;
  z-index: 1000;
    display: block;
}

.color-scheme select { 
  font-size: 0.7em;
  font-family: inherit;
}

/* Home */
.car-gallery { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.5em;
  justify-items: center;
}

.car-gallery img { 
  display: block;
  border-radius: 0.5em;
  width: 100%;
  height: auto;
}

/* Projects */ 

.projects { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
  margin-block: 2em;
}

.projects article { 
  display: grid;
  grid-template-rows: subgrid;
  gap: 0.3em;
  grid-row: span 4;
  border-top: 2px solid rgb(14, 11, 10);
}

.projects article h2 { 
  margin: 0;
}

.projects article img { 
  width: 100%;
  height: auto;
  display: block;
}

.container { 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: nowrap;
}

#projects-plot {
  flex: 0 0 200px;
  height: 200px;
}

.legend { 
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1em 5em;
  list-style: none;
  margin: 2.5em;
  gap: 1.5em;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.legend li { 
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 0.95em;
}

.legend .swatch { 
  width: 1em;
  height: 1em;
  background-color: var(--color);
  border-radius: 0.2em;
  display: inline-block
}

.svg:has(path: hover) path:not(:hover) { 
  opacity: 0.5;
}

path { 
  transition: 300ms;
  cursor: pointer;
}

.selected { 
  --color: oklch(60% 45% 0)
}

.selected:is(path) { 
  fill: var(--color);
}

.selected:is(li) { 
  font-weight: bold;
  color: var(--color);
}

/* CV */

.cv-page { 
  max-width: 900px;
  margin: auto;
  padding: 2em;
  font-family: system-ui, sans-serif;
}

.cv-header hr { 
  border: none;
  border-top: 1px solid rgb(188, 12, 12);
  margin: 0.5em 0 1em 0;
  width: 50%;
}

.contact-info { 
  display: flex;
  gap: 2em;
  font-size: 0.9rem;
  margin-bottom: 1.5em;
  color: rgb(122, 120, 120);
  flex-wrap: wrap;
}

.contact-info .icon { 
  color: rgb(188, 12, 12);
  margin-right: 0.3em;
  font-size: 1.1em;
}

h2 { 
  font-size: 1.75rem;
  border-bottom: 2px solid rgb(47, 23, 5);
  padding-bottom: 0.25em;
  margin-top: 2em;
  color: rgb(117, 41, 41);
}

.cv-entry { 
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 1em;
  margin: 1em 0;
}

.cv-entry time { 
  font-style: italic;
  color: rgb(158, 0, 0);
}

.cv-entry .cv-content h3 { 
  margin: 0;
  font-weight: bold;
  color: rgb(78, 4, 4);
}

.cv-entry .cv-content ul { 
  margin: 0.25em 0 0 0;
  padding-left: 1em;
}

ul li { 
  margin-bottom: 0.25em;
}

/* Contact Form */

input,
textarea,
button { 
  font: inherit;
}

form { 
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 1em;
  column-gap: 1em;
}

form label { 
  display: contents;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

button { 
  margin-top: 1em;
}

input,
textarea { 
  width: 100%;
  box-sizing: border-box; 
  padding: 0.5em;
}

button { 
  grid-column: 1 / -1;
  padding: 0.75em;
  border: none;
  background-color: oklch(48.655% 0.10842 21.878);
  color: white;
  font-weight: bold;
  border-radius: 0.3em;
  cursor: pointer;
}

button:hover { 
  background-color: oklch(from oklch(48.478% 0.10981 21.983) 75% 40% h);
}

/* Meta */

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 0.2rem 1rem;
  margin-top: 1em;
  text-align: center;
}

.stats dt { 
  font-weight: bold;
  grid-row: 1;
}

.stats dd { 
  grid-row: 2;
  margin: 0;
  font-size: 1.1em;
}

.gridlines line { 
  stroke: #ccc;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
}

.gridlines path { 
  stroke: none
}

/* Github */

#profile-stats dl { 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 0.5rem 1rem;
}

#profile-stats dt { 
  grid-row: 1;
  font-weight: bold;
}

#profile-stats dd { 
  grid-row: 2;
  margin: 0
}


