* { 
  box-sizing: border-box
}

body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;

  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  padding-block: 1rem;
}

img { 
  max-width: 100%;
  height: auto;
  display: block;
  margin-inline: auto;
}

nav { 
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid oklch(80% 3% 200);
  margin-bottom: 1em;
  padding-bottom: 0.5em
}

nav a { 
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: inherit;
  padding: 0.5em;
}

nav a.current{
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

nav a:hover { 
  border-bottom: 0.4em solid oklch(71.638% 0.08966 22.076);
  background-color: oklch(from oklch(36.472% 0.14544 28.599) 95% 5% h);
}

input,
textarea,
button { 
  font: inherit;
}

form { 
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  max-width: 50ch;
}

label { 
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

input,
textarea { 
  width: 100%;
  box-sizing: border-box; 
  padding: 1em;
}

button { 
  grid-column: 1 / -1;
  padding: 0.75em;
  border: none;
  background-color: oklch(56.495% 0.11639 21.417);
  color: white;
  font-weight: bold;
  border-radius: 0.3em;
  cursor: pointer;
}

button:hover { 
  background-color: oklch(from oklch(48.478% 0.10981 21.983) 75% 40% h);
}
